include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body

    - var socialIcons = [{"name" : "insta", "link" : "#"}, {"name" : "vk", "link" : "#"}, {"name" : "github", "link" : "#"}];
    - var menu = [{"title" : "Главная", "link" : "#"}, {"title" : "Обо мне", "link" : "#"}, {"title" : "Навыки", "link" : "#"}, {"title" : "Работы", "link" : "#"}, {"title" : "Отзывы", "link" : "#"}, {"title" : "Связаться", "link" : "#"}];
    .wrapper
      .first-section
        .parallax-layer(data-speed="0.1")
          img(src=require("images/content/m1.png")).parallax-img
        .parallax-layer(data-speed="0.12")
          img(src=require("images/content/m2.png")).parallax-img
        .parallax-layer(data-speed="0.15")
          img(src=require("images/content/m3.png")).parallax-img
        .parallax-layer(data-speed="0.19")
          img(src=require("images/content/m4.png")).parallax-img
        .parallax-layer(data-speed="0.23")
          img(src=require("images/content/m5.png")).parallax-img
        .parallax-layer(data-speed="0.24")
          img(src=require("images/content/m6.png")).parallax-img
        .parallax-layer(data-speed="0.27")
          img(src=require("images/content/m7.png")).parallax-img
        .parallax-layer(data-speed="0.1")
          img(src=require("images/content/m7.png")).parallax-img
          


        .wrapper-hero
          section.hero        
            .container.hero-container
              header.header
                .header__logo
                  a(href="#").logo BA
                .header__nav
                  +nav("header", menu)
                .header__socials
                  +socials("header", socialIcons)
                  .header__humburger
                    a(href="#").header__humburger-link

              .hero__main
                .author__info
                  .author__info-title Личный сайт веб разработчика
                  .author__info-name Полина Совершенная

              .hero__scroll
                a(href="").hero__scroll-title Скролл
                  +icon("scroll", "scroll__icon")
                
          section.about
            .container
              .about-me
                .about-me__left
                  .about-me__photo
                    .about-me__avatar.avatar
                      +image("content/user.jpg", "avatar__photo")
                  .about-me__info
                    -
                      var myinfo = [
                        ["Проживаю:", "Сочи"],
                        ["Возраст:", "24 года"],
                        ["Родился:", "27 декабря 1995"]
                      ];
                    table.about-me__table
                      tbody.about-me__table-content
                        each item in myinfo
                          tr
                            td #{item[0]}
                            td.about-me__table--bold #{item[1]}

                .about-me__right
                  .about-me__greeting Привет, меня зовут
                  h2.about-me__title Полина Совершенная
                  .about-me__text
                    p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                  .about-me__ps
                    p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

      section.skills
      
        .triangles.skills__triangles
          svg(viewbox="0 0 1000 100" preserveAspectRatio="none").triangle.triangles__item
            polygon(points="0,0 0,100 1000,100")
          svg(viewbox="0 0 1000 100" preserveAspectRatio="none").triangle.triangles__item
            polygon(points="1000,0 1000,100 0,100")            

      

        .skills__section
          .container.skills-container
            
            
            .skills__content
              .skills__desc
                h3.skills__title Чем я могу быть полезен вам
                p.skills__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!          
              .skills__desk

                #skills-component
                              
              .skills__picture
                +image("content/backpack.png", "skills__picture-img") 

        



      section.projects
        .container
          h3.projects__title.left__title Мои работы
          .projects-wrapper
            #works-slider-component

        


      .last-section

        .b-parallax-layer.b-parallax-layer-1
          img(src=require("images/content/b1.png")).b-parallax-img(data-distance="0")
        .b-parallax-layer.b-parallax-layer-2
          img(src=require("images/content/b2.png")).b-parallax-img(data-distance="0.12")
        .b-parallax-layer.b-parallax-layer-2
          img(src=require("images/content/b2.png")).b-parallax-img(data-distance="0.12")
        .b-parallax-layer.b-parallax-layer-3
          img(src=require("images/content/b3.png")).b-parallax-img(data-distance="0.15")
        .b-parallax-layer.b-parallax-layer-4
          img(src=require("images/content/b4.png")).b-parallax-img(data-distance="0.19")
        .b-parallax-layer.b-parallax-layer-5
          img(src=require("images/content/b5.png")).b-parallax-img(data-distance="0.23")
        .b-parallax-layer.b-parallax-layer-6
          img(src=require("images/content/b6.png")).b-parallax-img(data-distance="0.24")
        .b-parallax-layer.b-parallax-layer-4
          img(src=require("images/content/b4.png")).b-parallax-img(data-distance="0.19")
        .b-parallax-layer.b-parallax-layer-4
          img(src=require("images/content/b4.png")).b-parallax-img(data-distance="0.19")
        
        .wrapper-footer
          section.reviews
            .container.reviews-section
              .last-section__wrapper
                .reviews__top
                  h3.reviews__title.left__title Что обо мне говорят
                  .reviews__btns
                    button.reviews-button.reviews__btns-prev.disabled(@click="previous" :disabled="true")
                    button.reviews-button.reviews__btns-next(@click="next" :disabled="false")
                .reviews__content
                  -
                    var reviews = [
                      ["Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!",
                      "content/koval.png", "Ковальчук Дмитрий", "Основатель LoftSchool"],
                      ["Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах",
                      "content/sab.png", "Владимир Сабанцев", "Преподаватель"],
                      ["Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!",
                      "content/koval.png", "Ковальчук Дмитрий", "Основатель LoftSchool"],
                      ["Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах",
                      "content/sab.png", "Владимир Сабанцев", "Преподаватель"],    
                    ];

                  flickity(ref="flickity" :options="flickityOptions").reviews__list
                    each item in reviews
                      .reviews__list-item
                        p #{item[0]}
                        .reviews__autor
                          .reviews__photo
                            .reviews__avatar
                              - var imgUrl = item[1]
                              +image(imgUrl, "reviews__avatar-img") 
                          .reviews__info
                            .reviews__name #{item[2]}
                            .reviews__position #{item[3]}
          
          section.connection
            .container.connection-section
              .last-section__wrapper
                h3.left__title.connection__title Связаться со мной
                form.connection-feedback.feedback
                  .feedback__row
                    label.feedback__block.feedback__block--name
                      .feedback__title Введите ваше имя
                      input.feedback__input(type="text", name="name" required)
                      .error.error-name
                      .error-angle.error-angle-name
                      .feedback__icon
                        +icon("user", "feedback__icon-svg")
                    label.feedback__block.feedback__block--email
                      .feedback__title Введите ваш email
                      input.feedback__input(type="email", name="email" required)
                      .error.error-email
                      .error-angle.error-angle-email
                      .feedback__icon
                        +icon("envelope", "feedback__icon-svg")
                  .feedback__row
                    label.feedback__block.feedback__block--message
                      .feedback__title Сообщение к письму
                      textarea(name="message", cols="", rows="2" required).feedback__input
                      .error.error-message
                      .error-angle.error-angle-message
                      .feedback__icon
                        +icon("message", "feedback__icon-svg")
                  .feedback__row.feedback__btn
                    button.feedback__button(type="submit") Отправить
            .modal-form
              .modal-form__field
                p.modal-form__text
                button.modal-form__btn(type="button") Закрыть

        .triangles.reviews__triangles
            svg(viewbox="0 0 1000 100" preserveAspectRatio="none").triangle.triangles__item
              polygon(points="0,0 0,100 1000,100")
            svg(viewbox="0 0 1000 100" preserveAspectRatio="none").triangle.triangles__item
              polygon(points="1000,0 1000,100 0,100")

      footer.footer
        .container.footer-container
          .footer__left
            .footer__year &copy 2019
            .footer__sign
              .footer__name Полина Совершенная
              .footer__note Личный сайт веб-разработчика

          .footer__right
            .footer__nav
              +nav("footer", menu)
 
            .footer__bottom
              .footer__bottom-left
                .footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                .footer__socials
                  +socials("footer", socialIcons)
              .footer__botoom-right
                .footer__quote
                  .footer__quote-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                  .footer__quote-author Martin Golding

    .mobile-menu.mobile-menu--closed
      .mobile-wrapper
        +navMobile(menu)
        +socials("mobile", socialIcons)

      .mobile-menu__close
        +image("content/close-mobile-menu.png", "mobile-menu__pic")

    include ./templates/entry.pug
 
    

