mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className)
  img(src=require(`images/${path}`) class=className)


mixin socials(mod, array)
  ul(class="socials__list socials__list--" + mod)
    each item in array
      li.socials__item
        a(href=`${item.link}` target="_blank").socials__link
          +icon(`${item.name}`, "socials__icon")


mixin nav(mod, array)
  nav(class="menu menu--" + mod)
  ul.menu__list
    each item in array
      li.menu__item
        a(href=`${item.link}`).menu__link #{item.title}


mixin navMobile(array)
  nav(class="mobile-menu__nav")
    ul.mobile-menu__list
      each item in array
        li.mobile-menu__item
          a(href=`${item.link}`).mobile-menu__link #{item.title}

